<div class="container">
  <div class="form-group">
    <label for="work">Yapılacak İş</label>
    <input type="text" name="work" [(ngModel)]="work" id="work"class="form-control">
  </div>
  <div class="form-group mt-1">
    <button class="btn btn-outline-primary w-100" (click)="add()">Kaydet</button>
  </div>
  <hr>
  <div class="form-group">
    <label for="work">Güncellencek İş</label>
    <input type="text" name="work" [(ngModel)]="updateModel.work" id="work"class="form-control">
  </div>
  <div class="form-group mt-1">
    <button class="btn btn-outline-primary w-100" (click)="update()">Güncelle</button>
  </div>
  <hr>
<div class="form-group">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Yapılacak İş</th>
        <th>Durumu</th>
        <td>işlemler</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos let i=index">
        <td>{{i+1}}</td>
        <td>{{todo.work}}</td>
        <td>{{todo.isCompleted ? "yapıldı":"Yapılacak"}}</td>
        <td>
          <button class="btn btn-outline-warning btn-sm"  (click)="get(todo)">Güncelle</button>
          <button class="btn btn-outline-danger btn-sm mx-1"  (click)="delete(todo)">Sil</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
</div>